
/**** ALL ****/


body {
	margin: auto;
	padding: 3px 8%;
	font-family: sans-serif;
	font-size: 78%;
}


/**** HEADER ****/


h1 {
	text-transform: uppercase;
	padding: 60px;
	border: solid firebrick;
	border-width: 0 35px; /*Permet de mettre les borders où l'on souhaitent*/
	text-align: center;
	font-size: 260%;
}


/**** MAIN ****/


h2 {
	font-style: italic;
	color: white;
	background: green;
	padding: 10px 50px;
}


/**** ELEMENTS LISTES ****/


ul li {
	list-style-type: square;
}


ol {
	list-style-type: upper-alpha; /*Liste dans l'ordre alphabétique en majuscule*/
}

ol li  {
	border: 2px solid green;
	background: darksalmon;
	margin: 15px 180px;
	display: list-item;
}

img {
	vertical-align: middle;
}

/**** TYPOGRAPHIE & DETAILS ****/


u {
	letter-spacing: 0.4em; /*Ajout d'espaces entre les lettres*/
	text-decoration: underline dotted;
}

i {
	font-style: normal;
	color: chocolate;
}

strong {
	font-style: normal;
	color: green;
}

hr {
	color: green;
	height: 4px;
	width: 550px;
	background-color: currentColor; /*Remplissage de la barre hr de sa couleur de border*/
}

code {
	background: gainsboro;
	border-radius: 5px;
}

a {
	text-decoration: none;
	border: 1px solid chocolate;
	color: chocolate;
}

